<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link
      href="/css/components/modals/modal.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <section class="modal">
      <h1>정상적으로 수정되었습니다.</h1>
      <div class="modal-buttons">
        <a class="btn btn-confirm">확인</a>
      </div>
    </section>
  </body>
</html>
