<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="del.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
</head>
<section class="detail-withdraw">
    <h1 class="d:none">회원 탈퇴 페이지</h1>
    <div class="doby-logo">
        <a class="doby-logo-img" href="">도비 로고</a>
    </div>
    <div class="withdraw-message">
        <p>
            작성된 게시글은 삭제되지 않습니다.
        </p>
        <p>
            정말 탈퇴하시겠습니까?
        </p>
    </div>
    <form>
        <fieldset class="input-pwd-form">
            <legend class="d:none">비밀번호</legend>
            <span class="withdraw-confirm">비밀번호를 한 번 더 입력해주세요.</span>
            <input class="inputstyle pwd" id="pwd" type="text" placeholder="비밀번호를 입력해주세요." required />
            <div class="cancle-withdraw">
                <input class="inputstyle cancle cursor:pointer" id="cancle" type="submit" value="취소" />
                <input class="inputstyle withdraw cursor:pointer" id="withdraw" type="submit" value="네, 탈퇴하겠습니다." />
            </div>
        </fieldset>
    </form>
</section>

<body>

</body>

</html>