<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.doby.web.repository.CommunityBlindCancelRepository">
    <!--리스트출력-->
    <select id="findViewAll" resultType="CommunityBlindCancelView">
        select * from community_blind_cancel_view
        <where>
            <if test="query != null">and (title like '%${query}%' or
                report_reason like '%${query}%' or cancel_reason like '%${query}%')
            </if>
        </where>
        order by status_id asc, reg_date desc
        limit #{offset},#{size}
    </select>
    <!--페이징-->
    <select id="countViewByQuery" resultType="Long">
        select count(*)
        from community_blind_cancel_view
        <where>
            <if test="query != null">and (title like '%${query}%' or
                report_reason like '%${query}%' or cancel_reason like '%${query}%')
            </if>
        </where>
    </select>
    <!--상세페이지-->
    <select id="findViewById" resultType="CommunityBlindCancelView">
        select * from community_blind_cancel_view where id = #{id}
    </select>
    <!--상태변경-->
    <select id="findById" resultType="CommunityBlindCancel">
        select * from community_blind_cancel where community_id = #{communityId}
    </select>
    <!--상태변경-->
    <update id="updateStatus" parameterType="CommunityBlindCancel">
        update community_blind_cancel set status_id = #{statusId}
        where community_id = #{communityId}
    </update>

</mapper>