<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.doby.web.repository.CommunityCommentGoodRepository">

    <select id="findById" resultType="CommunityCommentGood">
        select * from community_comment_good where comment_id = #{commentId} and member_id = #{memberId}
    </select>

    <insert id="save" parameterType="CommunityCommentGood">
        insert into community_comment_good values(#{memberId}, #{commentId})
    </insert>

    <delete id="delete">
        delete from community_comment_good where member_id = #{memberId} and comment_id = #{commentId}
    </delete>

</mapper>