<!DOCTYPE html>
<html lang="ko">
<head>
</head>
<body>
<aside class="aside">
    <section class="menu-block">
        <h1 class="d:none">메뉴 사이드바</h1>
        <div class="info-box">
            <div class="profile-image-box">
                <img class="profile" src="/image/user.svg" alt="프로필">
            </div>
            <div class="username-box">
                <a href="/user/login">로그인하기</a>
            </div>
            <div class="close-btn icon icon-x icon-size-1">
            </div>
        </div>
        <section class="link-box">
            <h1 class="d:none">게시판 목록</h1>
            <ul class="board-list list">
                <li><a class="community" href="/community/list">커뮤니티</a></li>
                <li><a class="with" href="/with/list">With Me</a></li>
                <li><a class="smalltalk" href="/smalltalk/list">스몰톡</a></li>
            </ul>

            <ul class="notice-list list">
                <li><a class="notice" href="/notice/list">공지사항</a></li>
            </ul>

            <ul class="my-list list">
                <li><a>마이페이지</a></li>
                <li><a>활동내역</a></li>
                <li><a>신고당한 글</a></li>
                <li><a>로그아웃</a></li>
            </ul>
        </section>

    </section>

</aside>
</body>
</html>
