<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<footer class="footer">
    <div class="box d:flex">
        <div class="content-box">
            <ul class="list d:flex">
                <li class="item">구성 및 연락처</li>
                <li class="item">이용 약관</li>
                <li class="item">개인정보 처리방침</li>
            </ul>
            <div class="info d:flex">
                <span>Copyright ⓒ All Right Reserved.</span>
                <span>Contact : admin@doby.co.kr</span>
            </div>
        </div>
        <div class="logo-box">
            <span class="logo">DOBY!</span>
        </div>
    </div>
</footer>
</body>
</html>
