<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
</head>
<body>
<header class="header">
    <h1 class="title d:none">DOBY!</h1>
    <div class="box d:flex">
        <a class="logo" href="/">DOBY!</a>

        <nav class="category">
            <ul class="item-box d:flex">
                <li class="c:main-2"><a href="/community/list">커뮤니티</a></li>
                <li class="c:main-0"><a href="/with/list">모임</a></li>
                <li class="c:main-3"><a href="/smalltalk/list">스몰톡</a></li>
                <li class="c:main-5"><a href="/notice/list">공지사항</a></li>
            </ul>
        </nav>

        <!-- 검색 -->
        <form class="search-form" action="" method="">
            <fieldset class="search-input-box">
                <legend class="d:none">검색어입력</legend>
                <input class="input" type="text" placeholder="검색어를 입력해주세요"/>
                <input class="search" type="submit" value="검색"/>
            </fieldset>
        </form>

        <span class="menu icon icon-menu icon-size-1 md:d:none" id="header-menu-btn">메뉴</span>

        <a sec:authorize="!isAuthenticated()" class="login icon icon-user icon-size-2" href="/user/login">로그인</a>

        <div sec:authorize="isAuthenticated()" class="profile-box">
            <img class="profile"
                 th:src="@{https://file.doby.co.kr/profiles/{img}(img=${#authentication.principal.profileImage})}"
                 alt="프로필"/>
            <div class="list-box d:none">
                <form method="post" action="/logout">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <ul class="list d:flex">
                        <li class="item"><a href="/user/1234" class="link">프로필</a></li>
                        <li class="item"><a href="/activity" class="link">활동내역</a></li>
                        <li class="item">
                            <button type="submit" class="link">로그아웃</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</header>
</body>
</html>