<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/utils.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/components/header/header.css" rel="stylesheet" type="text/css">
    <link href="/css/components/footer/footer.css" rel="stylesheet" type="text/css">
</head>
<body spellcheck="false">
<div th:replace="~{inc/header::.header}"></div>
<div layout:fragment="main"></div>
<div th:replace="~{inc/footer::.footer}"></div>
</body>
</html>