<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/components/with/parts/slider/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/components/with/parts/card.css">

</head>

<body>
  <section>
    <h1 class="d:none">모임 카드 목록</h1>

    <div class="with-card-list">

      <div class="slider-list">
        <!-- 카드 10개씩 제한 -->
        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.1</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.2</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.3</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.4</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.5</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.6</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.7</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.8</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.9</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>

        <div class="card">
          <div class="deadline deco deco-size-1 icon-fire">마감 1일 전</div>

          <div class="title-box d:inline-block">
            <a class="title">모여봐요! 동물의 숲 개발자 구인합니다.10</a>
          </div>

          <!-- 최대 5개만 나오기로 -->
          <ul class="stack-list">
            <li class="stack">java</li>
            <li class="stack">javascript</li>
            <li class="stack">python</li>
            <li class="stack">vue</li>
            <li class="stack">spring</li>
          </ul>

          <div class="hit deco icon-color-1 icon-views">조회수 376회</div>
        </div>
      </div>

      <!-- 카드 움직이는 버튼 -->
      <div class="card-btn-box">
        <button class="btn previous deco icon-card-prev cursor:pointer"></button>
        <button class="btn next deco icon-card-next cursor:pointer"></button>
      </div>

    </div>

  </section>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="/js/with/slider/slick.js"></script>
  <!-- card.js -->
  <script type="text/javascript" src="/js/with/card.js"></script>
</body>

</html>