.banner-box{
  height: 220px;
  background-color: var(--color-trans-0);
}

.banner{
  width: 100%;
  height: 100%;
  
  padding-top: 60px;
  padding-left: 20px;
}

.banner
  .board-name{
    font-size: 33px;
    font-weight: 700;
    color: var(--color-main-2);
  }

.banner
  .catchphrase{
    font-size: var(--font-size-3);
    font-weight: 600;
    color: var(--color-base-5);
    /* margin */
    margin-top: 25px;
}

@media(min-width: 700px){

    .banner-box
      .banner{
        max-width: 1120px;
        margin: 0 auto;
      }
}