<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/banner.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="banner-box">
    <section class="banner">
      <h1 class="board-name">커뮤니티</h1>
      <p class="catchphrase">다양한 개발 지식을 공유해보세요.</p>
    </section>
  </div>
</body>

</html>