<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/category.css" rel="stylesheet" type="text/css">
</head>

<body>
  <ul class="category">
    <li><a class="item active" href="">전체</a></li>
    <li><a class="item" href="">LOG</a></li>
    <li><a class="item" href="">코드Q&A</a></li>
  </ul>
</body>

</html>