<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/list.css" rel="stylesheet" type="text/css">
</head>

<body>
  <section class="board-list">
    <h1 class="d:none">게시글 목록</h1>
    <ul class="board-list">
      <li class="item pin img">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item pin img">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item">
        <div class="board">

          <div class="write-info-box">
            <div class="profile">
              <div class="img-container">
                <img class="img" src="/image/profile2.jpg" alt="프로필사진">
              </div>
              <div class="nickname">김가구리</div>
            </div>
            <div class="reg-date">5분전</div>
          </div>

            <div class="title-box">
              <a class="title" href="">최종합격 30곳! 어디로 가야할까요?ㅎㅎ 기분이 좋네요 아주~</a>
            </div>

          <div class="board-info">
            <div class="category-name-tag-box"> 
              <div class="category-name">코드 Q&A</div>
              <ul class="tag-list">
                <li class="tag">개발</li>
                <li class="tag">스프링</li>
                <li class="tag">자바</li>
              </ul>
            </div>

            <div class="view-like-comment-box">
              <div class="views deco icon-color-3 icon-views">000</div>
              <div class="likes deco icon-color-3 icon-likes">17</div>
              <div class="comments deco icon-color-3 icon-comments">0</div>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </section>
</body>

</html>