<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/paging.css" rel="stylesheet" type="text/css">
</head>

<body>
  <section>
    <h1 class="d:none">페이징</h1>
    <ul class="paging">
      <li>
        <a class="item arrow arrow-prev" href=""></a>
      </li>
      <li>
        <a class="item active" href="">1</a>
      </li>
      <li>
        <a class="item" href="">2</a>
      </li>
      <li>
        <a class="item" href="">3</a>
      </li>
      <li>
        <a class="item" href="">4</a>
      </li>
      <li>
        <a class="item" href="">5</a>
      </li>
      <li>
        <a class="item arrow arrow-next" href=""></a>
      </li>
    </ul>
  </section>

</body>

</html>