<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/search-form.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form class="search-form d:none md:d:block" action="" method="">
    <fieldset class="search-input-box">
      <legend class="d:none">검색어입력</legend>
      <input class="input" type="text" placeholder="검색어를 입력해주세요">
      <input class="search" type="submit" value="검색">
    </fieldset>
  </form>
</body>

</html>