<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/root.css" rel="stylesheet" type="text/css">
  <link href="/css/utils.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/icon.css" rel="stylesheet" type="text/css">
  <link href="/css/components/board/parts/write-btn.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="btn-write-box d:inline-block">
    <a class="btn btn-write deco deco-size-1 icon-write" href="">작성하기</a>
  </div>
</body>

</html>