<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/css/components/footer/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <title>Footer</title>
</head>

<body>
    <footer class="footer d:flex">
        <div class="box d:flex">
            <div class="content-box">
                <ul class="list d:flex">
                    <li class="item">구성 및 연락처</li>
                    <li class="item">이용 약관</li>
                    <li class="item">개인정보 처리방침</li>
                </ul>
                <div class="info d:flex">
                    <span>Copyright ⓒ All Right Reserved.</span>
                    <span>Contact : admin@doby.co.kr</span>
                </div>
            </div>
            <div class="logo-box">
                <span class="logo">DOBY!</span>
            </div>
        </div>
    </footer>
</body>

</html>