<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/css/root.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/utils.css" rel="stylesheet" type="text/css"/>
    <link href="aside.css" rel="stylesheet" type="text/css"/>

    <title>Document</title>
</head>

<body>
<section class="d:none md:admin-aside admin-aside ">
    <h1 class="admin-aside-title">DOBY!</h1>
    <nav>
        <h1>사이트 관리</h1>
        <ul class="management">
            <li class="manage-user"><a href="">회원 관리</a></li>
            <li class="manage-article"><a href="">게시글 관리</a></li>
            <li class="manage-blind"><a href="">블라인드 관리</a></li>
            <li class="manage-notice"><a href="">공지사항 관리</a></li>
        </ul>
        <ul class="toDoby-logout">
            <li class="toDoby"><a href="">도비로 돌아가기</a></li>
            <li class="logout"><a href="">로그아웃</a></li>
        </ul>
    </nav>
</section>
</body>
</html>
