.d\:flex {
    display: flex;
}
.d\:none {
    display: none !important;
}

.d\:block {
    display: block !important;
}

.f\:700 {
    font-weight: 700;
}

.f\:500 {
    font-weight: 500;
}

@media (min-width: 700px) {
    .md\:d\:none {
        display: none !important;
    }
    .md\:d\:flex {
        display: flex !important;
    }
    .md\:d\:block {
        display: block !important;
    }
    .md\:d\:inline {
        display: inline !important;
    }
    .md\:d\:inline-block {
        display: inline-block !important;
    }
}
