<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link
      href="/css/components/modals/congrats/congrats-modal.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body class="modal-body">
    <section class="congrats-modal">
      <h1>가입을 축하합니다🎉</h1>
      <div class="congrats-modal-buttons">
        <a class="btn btn-login">로그인</a>
        <a class="btn btn-main">메인으로</a>
      </div>
    </section>
  </body>
</html>
