.modal-body .btn-list,
.modal-body .btn-admin-report {
  background-color: var(--color-trans-3);
  color: var(--color-font-1);
  left: 27px;
  top: 180px;
}
.modal-body {
  background-color: rgba(50, 50, 50, 0.1);
  min-height: 480px;
  display: flex;
}
.admin-report-modal {
  min-height: 400px;
  max-height: 400px;

  width: 370px;
  font-size: 22px;
  background-color: var(--color-base-white);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ==================== */
.modal-body {
  background-color: rgba(50, 50, 50, 0.1);
  min-height: 280px;
}
.report-modal {
  min-height: 480px;
  /* max-height: 260px; */
  font-size: 15px;

  width: 370px;
  background-color: var(--color-base-white);
  border-radius: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.report-modal .reason-select-box {
  z-index: 4;
}

.modal-body .select-btn {
  margin-top: 40px;
  width: 245px;
  min-height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
  /* padding: 0px 16px; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-base-7);
  /* A single image, centered and scaled */
  background: no-repeat url(/icon/expand-down.svg) 97% 50%/25px auto;
}

.modal-body .select-btn.active {
  border-radius: 10px 10px 0 0;
}
/* .select-btn ~ .selectbox-option {
  display: none;
} */
.modal-body .select-btn.active ~ .selectbox-option {
  /* display: flex !important; */
  flex-direction: column;
  /* height: 160px; */
  width: 245px;
  /* z-index: 3; */
}

/* .select-btn:focus ~  */
.modal-body .selectbox-option li {
  padding-left: 10px;
  border: 1px solid var(--color-base-7);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 32px;
  border-top: none;
  background-color: var(--color-base-white);
}
/* .select-btn:focus ~  */
.selectbox-option li:hover {
  background-color: var(--color-base-3);
}
/* .select-btn:focus ~  */
.selectbox-option li:last-child {
  border-radius: 0 0 10px 10px;
}

.selectbox-option li button {
  width: 100%;
  height: 100%;
}

/* ======버튼을 사용하는 방식===== */
/* 한번더 눌러서 포커스 해제 및 선택한값으로 박스안의 값이 바뀌는건 자바스크립트로 구현해야한다고 함. */
.report-modal h1 {
  font-weight: 800;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 22px;
}
.report-modal p {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-base-5);
  padding-top: 36px;
}
.report-modal-buttons {
  padding-top: 56px;
  display: flex;
  gap: 16px;
  z-index: 0;
}
.period-select-box {
  position: absolute;
  top: 200px;
  z-index: 1;
}

.modal-body .btn {
  width: 150px;
  height: 44px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.modal-body .btn-admin-report {
  background-color: var(--color-trans-3);
  color: var(--color-base-5);
  left: 27px;
  top: 360px;
}
.modal-body .btn-close {
  background-color: var(--color-base-white);
  /* border: 1px solid var(--color-base-5); */
  color: var(--color-base-5);
  left: 193px;
  top: 360px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}
