/* ================== 글 정보 =================*/
.board-info{
    padding: 20px;
}

/* -------- 게시글 카테고리 ----------- */
.board-info
  .category{
    color: var(--color-base-7);
    font-size: var(--font-size-1);
    font-weight: 600;
}

/* -------- 게시글 제목, ... 버튼 ----------- */
.board-info
  .title-dots-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* margin */
    margin-top: 10px;
}

/* 제목 */
.board-info
  .title-dots-btn-container
    .title{
    font-size: var(--font-size-3);
    font-weight: 700;
    
}
/* ...버튼 */
.board-info
  .title-dots-btn-container
    .dots-btn-list-container{
    /* 부모 */
    position: relative;
}

/* ... 버튼 눌렀을때 나오는 목록들 */
.board-info
  .title-dots-btn-container   
    .dots-btn-list-container
      .list{
      width: 100px;
      border: 1px solid var(--color-base-3);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      padding: 10px 15px;
      background-color: var(--color-base-white);
  
      /* text style*/
      text-align: left;
      font-weight: 500;
  
      /* 자식 */
      position: absolute;
      right: 5px;
}

  
.board-info
  .title-dots-btn-container
    .dots-btn-list-container
      .list
        .item{
        /* margin */
        margin-bottom: 8px;
}
  
/* 마지막 친구도 마진줘서 없애버림 */
.board-info
  .title-dots-btn-container
    .dots-btn-list-container
      .list
        .item:last-child{
        /* margin */
        margin: 0;
}
  
/* 호버 */
.board-info
  .title-dots-btn-container
    .dots-btn-list-container
      .list
        .item:hover{
        color: var(--color-main-2);
}

/* 작성 정보 및 조회수 */
.board-info
  .write-info{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    /* text style */
    font-size: var(--font-size-1);
    color: var(--color-base-5);

    /* margin */
    margin-top: 15px;
}

.board-info
  .write-info
    .item{
    display: flex;
    column-gap: 5px;

}

.board-info
  .write-info
    .dt{
    font-weight: 500;
    
}

.board-info
  .write-info
    .dt::after{
    content: ':';
}

/* ================== 글 내용 =================*/
.content-container{
  padding: 0px 20px;
}

/* 위 구분선 */
.content-container::before{
  content: "";
  display: block;
  border-top:  1px solid var(--color-base-3);
  margin-bottom: 20px;
}

/* 아래 구분선 */
.content-container::after{
  content: "";
  display: block;
  border-top:  1px solid var(--color-base-3);
  margin-top: 20px;
}


/* -------media 쿼리----------------------------- */

@media(min-width: 700px){
  /* 게시글 카테고리 */
    .board-info
      .category{
        font-size: var(--font-size-2);
    }

    /* 작성 정보 및 조회수 */
    .board-info
      .write-info{
        font-size: var(--font-size-2);
    }

    /* 제목 */
    .board-info
      .title-dots-btn-container
        .title{
        font-size: var(--font-size-4);
        
    }
    
    /* 내용 */
    .content-container
      .content{
      font-size: var(--font-size-3);
    }


   
    /* ---------- layout ---------------*/

     /* 게시글 정보 */
    .board-info{
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }

     /* 게시글 내용 */
    .content-container{
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
}